{% extends 'base.html' %}
{% load static %}<!--arquivos dentro de static-->

<!--so vai editar o que esta dentro desse bloco-->

{% block body %}

<h3>Loja</h3>

<div style="display: flex;">

    <form method="post" action="" style="border: 1px solid red;">
      {% csrf_token %}
      <p>Preço</p>
      <input type="number" name="preco_minimo" value="{{ minimo }}">
      <input type="number" name="preco_maximo" value="{{ maximo }}">

      <p>Tamanho</p>
      {% for tamanho in tamanhos %}
      <input type="radio" name="tamanho" value="{{ tamanho }}">
      <label for="{{ tamanho }}">{{ tamanho }}</label>
      {% endfor %}

      <p>Categorias</p>
      {% for categoria in categorias %}
      <input type="radio" name="categoria" value="{{ categoria.slug }}">
      <label for="{{ categoria.slug }}">{{ categoria.nome }}</label>
      {% endfor %}

      <p>Tipo</p>   
      {% for tipo in tipos_navegacao %} 
      <input type="radio" name="tipo" value="{{ tipo.slug }}">
      <label for="{{ tipo.slug }}">{{ tipo.nome }}</label>
      {% endfor %}

      <button type="submit">Aplicar Filtros</button>
    </form>


    <div style="border: 1px solid; margin: 10px; padding: 10px;">
        Ordenar Por:
       <ul>   <!--pegar o name com parametro para o js-->
          <li><a href="#" class="item-ordenar" name="menor-preco">Menor Preço</a></li>
          <li><a href="#" class="item-ordenar" name="maior-preco">Maior Preço</a></li>
          <li><a href="#" class="item-ordenar" name="mais-vendido">Mais Vendido</a></li>
       </ul>
      <!--para cada produto dentro da minha lista de produtos-->
        {% for produto in produtos %}

        <a href="{% url 'ver_produto' produto.id %}"> <!--link que direciona ao clicar no produto especifico-->
          <img src="{{ produto.imagem.url }}" width="300" height="450">
        </a>

        <p>Produto: {{ produto.nome }}</p> <!--exibe o produto que esta na tabela Produto-->
        <p>Preço: {{ produto.preco }}</p>

        {% endfor %}

    </div>

</div> <!--final da div do form-->

{% endblock %}