{% extends 'base.html' %}
{% load static %}<!--arquivos dentro de static-->

<!--so vai editar o que esta dentro desse bloco-->

{% block body %}

<h3>{{ produto.nome }}</h3>

{% if tem_estoque %} <!--se tem estoque-->

<img src="{{ produto.imagem.url }}" width="300" height="450" alt="{{ produto.nome }}">

<p>Produto: {{ produto.nome }}</p> <!--exibe o produto que esta na tabela Produto-->
<p>Preço: {{ produto.preco }}</p>


{% if cor_selecionada %}
Cor: {{ cor_selecionada.nome }}
{% endif %}


{% for cor in cores %}
{{ cor.nome }}
<a href="{% url 'ver_produto' produto.id cor.id %}">
  <i class="fa-solid fa-circle" style="color: {{ cor.codigo }}" alt="Cor: {{ cor.nome }}"></i>
</a>
{% endfor %} <!--final-->

{% if tamanhos %} <!--inicio do if tam-->
<!------------------------------------------------------parametro (produto.id)-->
<form method="post" action="{% url 'adicionar_carrinho' produto.id %}">
  {% csrf_token %} <!--segurança do form-->
  <p>Selecione o tamanho:</p>
  {% for tamanho in tamanhos %}
  <input type="radio" name="tamanho" value="{{ tamanho }}">
  <label for="{{ tamanho }}">{{ tamanho }}</label>
  {% endfor %}

  <input type="hidden" name="cor" value="{{ cor_selecionada.id }}">
  <button type="submit">Adicionar ao Carrinho</button>

</form>
{% endif %} <!--fim do if tam-->


{% else %}

<p>Produto fora do estoque</p>

{% endif %} <!--fim do if-->

{% endblock %}