{% extends 'base.html' %}
{% load static %}<!--arquivos dentro de static-->

<!--so vai editar o que esta dentro desse bloco-->
{% block body %}

<h3>Preencha seus dados para criar uma conta</h3>

<form action="post" action="" >
  {% csrf_token %}
     <input type="email" name="email" placeholder="Email">
     <input type="password" name="senha" placeholder="Senha">
     <input type="password" name="confirmacao_senha" placeholder="Confirmação da Senha">
     <button type="submit">Criar Conta</button>

</form>

<a href="{% url 'login' %}">Já tem uma conta? Fazer Login!</a>
{% endblock %}