{% extends 'base.html' %}
{% load static %}<!--arquivos dentro de static-->

<!--so vai editar o que esta dentro desse bloco-->
{% block body %}

<h3>Preencha seus dados para criar uma conta</h3>

{% if erro == "preenchimento" %}
  <p>Preencha todas as informações dos formularios corretamente para criar uma conta</p>
{% endif %}


{% if erro == "email_invalido" %}
  <p>Seu e-mail está inválido, tente novamente com outro e-mail/p>
{% endif %}


{% if erro == "usuario_existente" %}
  <p>Já existe um usuario com este e-mail, <a href="{% url 'fazer_login' %}">faça login</a></p>
{% endif %}


{% if erro == "senhas_diferentes" %}
  <p>Senha e confirmação de senha não são iguais, tente novamente!</p>
{% endif %}

<form method="post" action="{% url 'criar_conta' %}" >
  {% csrf_token %}
     <input type="email" name="email" placeholder="Email">
     <input type="password" name="senha" placeholder="Senha">
     <input type="password" name="confirmacao_senha" placeholder="Confirmação da Senha">
     <button type="submit">Criar Conta</button>

</form>

<a href="{% url 'fazer_login' %}">Já tem uma conta? Fazer Login!</a>
{% endblock %}