{% extends 'base.html' %}
{% load static %}<!--arquivos dentro de static-->

<!--so vai editar o que esta dentro desse bloco-->
{% block body %}

<h3>Faça seu Login</h3>

{% if erro %}
 <h4>Erro de credencial, tente novamente ou crie uma conta</h4>

{% endif %}

<form method="POST" action="{% url 'fazer_login' %}" >
  {% csrf_token %}
     <input type="email" name="email" placeholder="Email">
     <input type="password" name="senha" placeholder="Senha">
     <button type="submit">Entrar</button>


</form>

<a href="{% url 'criar_conta' %}">Não tem uma conta? Criar conta!</a>
<a href="#">Esqueci minha senha</a>

{% endblock %}